$orange : #D3573C;
$darkOrange : #901C1C;
$grey : #757575;
*
{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}
html, body
{
    overflow-x: hidden;
}

#model
{
    display: none
}

body 
{
    margin: 3em;
}

header
{
    width: 100%;
    margin-left: 1.5em;
    a
    {
        text-decoration: none;
     
        h1 
        {
            font-size: 45px;
            color: $darkOrange;
            letter-spacing: 0.1em;
            font-weight: 800;
            svg 
            {
                margin-right: 0.1em;
            }
        }
    }
}
.photographerCard
{
    margin-bottom: 2em!important;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background: #FAFAFA;
    padding: 1.5em;
    
    #btnContact:hover
    {
        background: #DB8876;
        color: black;
    }

    #photographerPortraitContainer 
    {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        
    
        img 
        {
            height: 120%;
            position: relative;
            right: 10%;
            
        }
    }

    .asidePhotographer
    {
        position: fixed;
        bottom: 0;
        background-color: #DB8876;
        right: 20px;
        min-width: 250px;
        display: flex;
        justify-content: space-around;
        padding: 0.6em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        * 
        {
            font-weight: bold;
        }

        #asideLike
        {
            display: flex;
           
            i
            {
                margin-top: 0.2em;
                margin-left: 0.5em;
            }
        }
    }
}

.photographerNameContact
{
    display: flex;
    justify-content: space-between;

    .photographerName
    {
        font-size: 64px;
        color: $orange;
        margin: 0;
    }
    button 
    {
        background-color: $darkOrange;
        font-weight: 700;
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border: 0px;
        margin-left: 100px;
        padding: 17px;
        height: 60px;
        margin-top: 1em;
    }
}
.photographerLocation
{
    font-size: 24px;
    color: $darkOrange;
}
.photographerTagLine
{
    font-size: 18px;
    color: $grey;
}
.tagList
{
    padding: 0;            
    display: flex;
    width: 100%;
    margin: auto;
    li
    {
        list-style: none;
        color: $darkOrange;
        border: 0.5px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 11px;
        padding: 4px;
        margin: 3px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        font-weight: bold;
    }
}
#filtre
{
    display: flex;
    h2 
    {
        font-weight: bold;
        font-size: 18px;
        padding: 0;
        margin: 1em;
        margin-top: 1.7em;
    }

    #listFilter
    {
        width: 200px;
        list-style-type: none;
        color: white;
       
        #filterMenu
        {
            float: right;
            margin-top: 0.2em;
        }
        .btnFilter
        {
            background-color: $darkOrange;
            padding: 1em;
            cursor: pointer;

        }
        #btnFilterMain
        {
            border-radius: 5px;

        }
        .hideBtn
        {
            display: none;
        }
    }
}

.photoContainer
{
    margin: 1em;
    width: 350px;
    
    .media 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 350px;
        overflow: hidden;
        border-radius : 5px;
    }

    img, video 
    {
       min-height: 100%;
       max-width: 100%;
    }

    .subMedia
    {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5em;
        *
        {
            color: $darkOrange;
            font-size: 19px;
        }
        .titlePhotoContainer
        {
            max-width: 60%;
        }
        h3
        {
            margin: 0;
        }
        .likePriceMedia
        {
            display: flex;
            flex-wrap: nowrap;
            *
            {
            padding-left: 5px;
            }
        }

    }

}


.gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width : 1000px)
{
    #filtre
    {
        display: none;
    }
    #btnContact
    {
        position: fixed;
        bottom: 5%;
        letter-spacing: 1px;
        height: 30px!important;
        font-size: 15px;
        padding: 7px;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 400;
        width: 200px;
        margin: 1% auto;
        left: 0;
        right: 0;
        
    }
    .media, .photoContainer
    {
        width: 300px!important;
        margin: auto;
    }
    .asidePhotographer
    {
        display: none!important;
    }
}
@media screen and ( max-width : 650px)
{
    header 
    {
        margin: 0;
        margin-top: 1em;
        #titlePhotoHeader
        {
            font-size: 14px;
        }
        a
        {
            h1
            {
                font-size: 30px;
                margin: 0.9em;
                margin-bottom: 0.4em;

                svg
                {
                    width: 30px;
                    height: 20px;
                }
            }
        }
    }
    body 
    {
        margin: 0;
    }
    #photographerPortraitContainer
    {
        width: 130px!important;
        height: 120px!important;
    }
    .photographerName
    {
        font-size: 36px!important;
    }
    .tagList
    {
        width: 100%;
        flex-wrap: wrap;

        li
        {
            padding: 2.5px;
            padding-top: 1px;
            padding-bottom: 1px;
            margin-left: 0;
        }
    }
    
    .photographerNameContact
    {
        h1 
        {
            width: 100%;
        }
    }
    .photographerLocation , .photographerTagLine
    {
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 13px;
        font-weight: 400;
    }
    .media, .photoContainer
    {
        width: 300px!important;
        margin: auto;
    }
    .media
    {
        height: 200px!important;
        margin-top: 1em;
    }

}
@media screen and ( max-width : 350px)
{
    #photographerPortraitContainer
    {
        width: 130px!important;
        height: 100px!important;
    }
}