
.photographerPortrait
{
    width: 200px;
}


.gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#model
{
    display: none
}
.photoContainer
{
    width: 25%;
    margin: 2em;


    img, video 
    {
        width: 100%;
    }
}