* {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
  height: 150px;
}

header #mainContentLink {
  background-color: #D3573C;
  border-radius: 5px;
  color: black;
  padding: 0.3em;
  display: none;
  position: fixed;
  top: 0;
  width: 160px;
  margin-left: -80px;
  left: 50%;
  z-index: 2000;
  text-align: center;
  font-weight: 700;
}

header a {
  text-decoration: none;
}

header a svg {
  margin: 1.5em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 30px;
}

header ul li {
  font-size: 11px;
  height: 22px;
  padding: 0.3em;
  margin: 0.5em;
  color: #901C1C;
  font-weight: 900;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  cursor: pointer;
}

header ul li:hover {
  background-color: #901C1C;
  color: white;
}

header h1 {
  color: #901C1C;
  font-size: 36px;
}

#card {
  display: none;
}

main {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section {
  width: 33%;
  margin: auto;
  text-align: center;
  margin-top: 1em;
}

main section a {
  text-decoration: none;
}

main section a div {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

main section a div img {
  height: 120%;
  position: relative;
  right: 10%;
}

main section a h2 {
  color: #D3573C;
  font-size: 36px;
  margin: 0;
  margin-top: 0.5em;
}

main section h3 {
  color: #901C1C;
  font-size: 13px;
  margin: 0;
}

main section p {
  font-size: 10px;
  margin: 0.5em;
}

main section small {
  font-size: 9px;
  color: #757575;
}

main section ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 0.3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section ul li {
  list-style: none;
  color: #901C1C;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 4px;
  margin: 3px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1420px) {
  main {
    margin-top: 2em;
  }
  main section {
    width: 50%;
  }
  header #titlePhotoHeader {
    font-size: 18px;
    position: absolute;
    right: 1.3em;
    top: 1.9em;
  }
  header a svg {
    width: 150px;
    margin-bottom: 0;
  }
  #nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    padding: 0;
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
  }
}

@media screen and (max-width: 1000px) {
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav {
    width: 90%;
    margin: auto;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  header a h1 {
    font-size: 20px;
  }
  header a h1 svg {
    width: 20px;
    height: 15px;
  }
  main section {
    width: 80%;
  }
}
/*# sourceMappingURL=syle.css.map */